KAFKA_BROKER=redpanda:9092
REDIS_ADDR=redis:6379
POSTGRES_DSN=postgres://postgres:postgres@postgres:5432/playground?sslmode=disable
USERS_BASE_URL=http://users-service:8081
PAYMENTS_BASE_URL=http://payments-service:8082
